.button {
    margin-top: 15px;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #0d121f;
  
    width: 100%;
    padding: 20px 0;
    background: #ffe400;
    border-radius: 12px;
  }